<h1>{{film.titel}}</h1>
<p>Beskrivning: {{film.beskrivning}}</p>
<p>Regissör: {{film.regissör}}</p>
<p>Skådespelare: {{film.skådespelare}}</p>
<p>År: {{film.år}}</p>
<p>Genre: {{film.genre}}</p>
<p>Betyg: {{film.betyg}}</p>
<a href="/filmer">Tillbaka till filmlistan</a>